<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mesure chaque jour les différents points d'évaluation
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts" #slides>
    <ion-slide *ngFor="let evaluation of evals" >
      <ion-header>{{ evaluation.factorName }}</ion-header>
      <div style="clear:both;"></div>
      <mat-slider [(ngModel)]="evaluation.value" min="0" max="5" step="0.1" value="1.5" vertical (change)="valueChanged($event,evaluation)"></mat-slider>

    </ion-slide>
  </ion-slides>
  <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
  <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">Next</button>
</ion-content>
